:root {
    --clr-dark: #020617;
    --clr-light: #f3f4f6;
    --clr-slate400: #9ca3af;
    --clr-slate600: #4b5563;
    --clr-slate800: #1f2937;
    --clr-rose: #e11d48;
    --clr-indigo: #7c3aed;

    /* RGB values */
    /*  rose    rgb(225, 29, 72) 
        indigo 	rgb(124, 58, 237)   */

    /* sizes */
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;

    
    --clr-bg: var(--clr-dark);
    --clr-text: var(--clr-light);
    --clr-text-muted: var(--clr-slate600);
    --clr-title: var(--clr-light);
}

::-webkit-scrollbar {
  display: none;
}

* {
    margin: 0;
    line-height: calc(1em + 0.5em);
}

html {
    margin: 2rem;
    scroll-behavior: smooth;
}

body {
  font-family: 'General Sans', sans-serif;
  background-color: var(--clr-bg);
  color: var(--clr-text);
  transition: background-color 0.3s, color 0.3s;
}

img, 
picture, 
video, 
canvas, 
svg {
    display: block;
    max-width: 100%;
    user-select: none;
}

button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
}

a {
    color: var(--clr-rose);
}

strong {
    color: var(--clr-indigo);
}

/* Marquee styles */

.marquee {
  display: flex;
  block-size: var(--marquee-item-height);
  margin-block: var(--marquee-item-height);
  position: relative;
  _overflow-x: hidden;
  _mask-image: linear-gradient(
    to right,
    hsl(0 0% 0% / 0),
    hsl(0 0% 0% / 1) 20%,
    hsl(0 0% 0% / 1) 80%,
    hsl(0 0% 0% / 0)
  );
  
}

.marquee--9 {
  --marquee-item-width: 100px;
  --marquee-item-height: 100px;
  --marquee-duration: 36s;
  --marquee-items: 9;
}

.marquee--8 {
  --marquee-item-width: 166px;
  --marquee-item-height: 100px;
  --marquee-duration: 32s;
  --marquee-items: 8;
}

.marquee__item {
  --marquee-item-offset: max(
    calc(var(--marquee-item-width) * var(--marquee-items)),
    calc(100% + var(--marquee-item-width))
  );
  --marquee-delay: calc(var(--marquee-duration) / var(--marquee-items) * (var(--marquee-items) - var(--marquee-item-index)) * -1);
  position: absolute;
  inset-inline-start: var(--marquee-item-offset);
  transform: translateX(-50%);
  animation: go linear var(--marquee-duration) var(--marquee-delay, 0s) infinite;
}

.marquee--8 .marquee__item:nth-of-type(1) {
  --marquee-item-index: 1;
}

.marquee--8 .marquee__item:nth-of-type(2) {
  --marquee-item-index: 2;
}

.marquee--8 .marquee__item:nth-of-type(3) {
  --marquee-item-index: 3;
}

.marquee--8 .marquee__item:nth-of-type(4) {
  --marquee-item-index: 4;
}

.marquee--8 .marquee__item:nth-of-type(5) {
  --marquee-item-index: 5;
}

.marquee--8 .marquee__item:nth-of-type(6) {
  --marquee-item-index: 6;
}

.marquee--8 .marquee__item:nth-of-type(7) {
  --marquee-item-index: 7;
}

.marquee--8 .marquee__item:nth-of-type(8) {
  --marquee-item-index: 8;
}

.marquee--9 .marquee__item:nth-of-type(1) {
  --marquee-item-index: 1;
}

.marquee--9 .marquee__item:nth-of-type(2) {
  --marquee-item-index: 2;
}

.marquee--9 .marquee__item:nth-of-type(3) {
  --marquee-item-index: 3;
}

.marquee--9 .marquee__item:nth-of-type(4) {
  --marquee-item-index: 4;
}

.marquee--9 .marquee__item:nth-of-type(5) {
  --marquee-item-index: 5;
}

.marquee--9 .marquee__item:nth-of-type(6) {
  --marquee-item-index: 6;
}

.marquee--9 .marquee__item:nth-of-type(7) {
  --marquee-item-index: 7;
}

.marquee--9 .marquee__item:nth-of-type(8) {
  --marquee-item-index: 8;
}

.marquee--9 .marquee__item:nth-of-type(9) {
  --marquee-item-index: 9;
}

@keyframes go {
  to {
    inset-inline-start: calc(var(--marquee-item-width) * -1);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-bg: var(--clr-light);
    --clr-text: var(--clr-dark);
    --clr-text-muted: var(--clr-slate600);
    --clr-title: var(--clr-dark); /* Add this line */
  }
}